@media  screen and (max-width: 767px) {
    @font-face {
        font-family: Norse;
        src: url(./Fonts/NorseBold-2Kge.otf) format("opentype");
        font-weight: normal;
        font-style: normal;
    }
    body{
        display: flex;
        flex-direction: column;
        font-family: Norse;
    }
    #she_gave_me_header_till_i_footer{
        display: flex;
        flex-direction: row;
        background-color:rgb(97 97 95);
        border-radius: 20px;
        border: 10px solid rgb(164, 164, 164);
        justify-content: space-around;
        position: sticky;
        top: 10px;
    }
    #Rubrik{
        display: flex;
        justify-content: center;
        position:sticky;    
    }
    #rubriktext{
        display: flex;
        justify-content: left;
        background-color: rgb(164, 164, 164);
        border: 10px solid rgb(164, 164, 164);
        border-radius: 20px;
        position:sticky;
    }
    #rubrikbild{
        display: flex;
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: center;
        justify-content: right;
        position:sticky;
    }
    #cartbild{
        display: flex;
        max-height: 60px;
        border: 10px solid rgb(164, 164, 164);
        border-radius: 20px;
        position:sticky;
        
    }
    #cartknapp{
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
        position:sticky;
    }

    #knappar{
        display: none;
    }
    .shortcuts{
        display: none;
    }
    #items{
        display: flex;
        flex-direction:column;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;
        background-color: rgb(164, 164, 164);
        border: rgb(164, 164, 164) solid 20px;
        border-radius: 20px;
        
    }
    #muggar{
        display: flex;
        grid-column:1/2 ;
        flex-direction: column;
        width: 50%;
        align-items: center;


    }
    .mugg{
        display: flex;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width:fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;



    }
    .images{
        display: flex;
        max-width: fit-content;
        margin-bottom: 5px;
        border-radius: 20px;
        
    }
    .imagecontainer{
        display: flex;
        justify-content: center;
        background-color:white;
        margin-bottom: 5px;
        border-radius: 20px;
        max-width: 300px;
        min-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }
    .Buy{
        background-color: rgb(164, 164, 164);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px;
        width:275px ;
        
    }
    .button{
        background-color: rgb(164, 164, 164);
        border-radius: 10px;
        margin-left: 10px;
        font-family: Norse;
        width: 75px;
    }
    
    #hattar{
        display: flex;
        flex-direction: column;
        width: 20%;
        align-items: center;
    }
    .hatt{
        display: flex;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
    }
    #hornar{
        display: flex;
        flex-direction: column;
        width: 20%;
        align-items: center;
    }
    .horn{
        display: flex;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
    }


    #footer{
        display: flex;
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
        margin-top: 10px;
        grid-column: 1/2;
        grid-row: 4/5;
        justify-content: center;
    }
}
@media  screen and (max-width:1023px) and (min-width:768px) {
    @font-face {
        font-family: Norse;
        src: url(./Fonts/NorseBold-2Kge.otf) format("opentype");
        font-weight: normal;
        font-style: normal;
    }
    body{
        display: flex;
        flex-direction: column;
        font-family: Norse;
    }
    #she_gave_me_header_till_i_footer{
        display: flex;
        flex-direction: row;
        background-color:rgb(97 97 95);
        border-radius: 20px;
        border: 10px solid rgb(164, 164, 164);
        justify-content: space-around;
        position: sticky;
        top: 10px;
    }
    #Rubrik{
        display: flex;
        justify-content: center;
        background-color:rgb(97 97 95);
        border-radius: 20px;
        border: 10px solid rgb(164, 164, 164);
        width: 300px;
        
    }
    #rubriktext{
        display: flex;
        background-color: rgb(164, 164, 164);
        border: 10px solid rgb(164, 164, 164);
        border-radius: 20px;
    }
    #rubrikbild{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #cartbild{
        display: flex;
        max-height: 60px;
        border: 10px solid rgb(164, 164, 164);
        border-radius: 20px;
        
    }
    #cartknapp{
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
    }

    #knappar{
        display: none;
    }
    .shortcuts{
        display: none;
    }
    #items{
        display: flex;
        margin-left: 10px;
        margin-top: 10px;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(164, 164, 164);
        border: rgb(164, 164, 164) solid 20px;
        border-radius: 20px;
        
    }
    #muggar{
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
        margin-left:100px ;
    }
    .mugg{
        display: flex;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width:fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
    }
    .images{
        display: flex;
        max-width: fit-content;
        min-height: 150px;
        max-height: 150px;
    }
    .imagecontainer{
        display: flex;
        justify-content: center;
        background-color:white;
        margin-bottom: 5px;
        border-radius: 20px;
        max-width: 300px;
        min-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }
    .Buy{
        background-color: rgb(164, 164, 164);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px;
        width: 275px;
    }
    .button{
        background-color: rgb(164, 164, 164);
        border-radius: 10px;
        margin-left: 10px;
        font-family: Norse;
        width: 100px;
    }
    
    #hattar{
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
        margin-left:100px ;
    }
    .hatt{
        display: flex;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        margin-left: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
    }
    #hornar{
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        margin-left: 100px;
    }
    .horn{
        display: flex;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;  
        min-width: 300px;
    }


    #footer{
        display: flex;
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
        margin-top: 10px;
        justify-content: center;
    }
}
@media screen and (min-width:1024px) {
    @font-face {
        font-family: Norse;
        src: url(./Fonts/NorseBold-2Kge.otf) format("opentype");
        font-weight: normal;
        font-style: normal;
    }
    body{
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 2fr, 2fr 1fr;
        font-family: Norse;
    }
    #she_gave_me_header_till_i_footer{
        display: flex;
        flex-direction: row;
        grid-row: 1/2;
        grid-column: 1/6;
        background-color:rgb(97 97 95);
        border-radius: 20px;
        border: 10px solid rgb(164, 164, 164);
        justify-content: space-around;
        position: sticky;
        top: 10px;
    }
    #Rubrik{
        display: flex;
        justify-content: center;
        background-color:rgb(97 97 95);
        border-radius: 20px;
        border: 10px solid rgb(164, 164, 164);
        width: 300px;
    }
    #rubriktext{
        display: flex;
        background-color: rgb(164, 164, 164);
        border: 10px solid rgb(164, 164, 164);
        border-radius: 20px;
    }
    #rubrikbild{
        display: flex;
        grid-column: 5/6;
        grid-row: 1/2;
        align-items: center;
        justify-content: center;
    }
    #cartbild{
        display: flex;
        max-height: 60px;
        border: 10px solid rgb(164, 164, 164);
        border-radius: 20px;
    }
    #cartknapp{
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
    }
    #knappar{
        display: flex;
        grid-column: 1/2;
        grid-row: 2/4;
        flex-direction: column;
        background-color: rgb(97 97 95);
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 10px;
        border: 20px solid rgb(164, 164, 164);
        border-radius: 40px;
        min-height: 300px;
    }
    .shortcuts{
        display: flex;
        margin-top: 10px;
        max-width: 100px;
        min-height: 50px;
        min-width: 100px;
        justify-content: center;
        align-items: center;
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
        font-family: Norse;
    }
    #items{
        display: flex;
        grid-column: 2/5;
        grid-row: 2/4;
        margin-left: 10px;
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(164, 164, 164);
        border: rgb(164, 164, 164) solid 20px;
        border-radius: 20px; 
        min-height: 80%;
    }
    #muggar{
        display: flex;
        grid-column:2/3 ;
        flex-direction: column;
        margin-left: 50px;
        width: 200px;
        align-items: center;
    }
    .mugg{
        display: flex;
        grid-column: 2/3;
        grid-row: 2/4;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width:fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
        min-width: 300px;
    }
    .images{
        display: flex;
        margin-bottom: 5px;
        border-radius: 20px;
        max-width: 200px;
        min-height: 200px;
        min-height: 150px;
        max-height: 150px;
    }
    .Buy{
        background-color: rgb(164, 164, 164);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 10px;
    }
    .button{
        background-color: rgb(164, 164, 164);
        border-radius: 10px;
        margin-left: 10px;
        font-family: Norse;
    }
    #hattar{
        display: flex;
        grid-column:3/4 ;
        flex-direction: column;
        margin-left: 100px;
        width: 20%;
        align-items: center;
    }
    .hatt{
        display: flex;
        grid-column: 3/4;
        grid-row: 2/4;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
        min-width: 300px;
    }
    #hornar{
        display: flex;
        grid-column:4/5 ;
        flex-direction: column;
        width: 20%;
        align-items: center;
        margin-left: 100px;
    }
    .horn{
        display: flex;
        grid-column: 4/5;
        grid-row: 2/4;
        margin-left: 10px;
        background-color: rgb(97 97 95);
        justify-content: center;
        flex-direction: column;
        max-width: fit-content;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 300px;
        min-width: 300px;
    }
    #footer{

        display: flex;
        background-color: rgb(164, 164, 164);
        border-radius: 20px;
        margin-top: 10px;
        grid-column: 1/6;
        grid-row: 4/5;
        justify-content: center;
    }
}